
@import "../../css-config/mixins.scss";
.visitor__section{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;   
    justify-content: space-evenly;
    flex-direction: column;
    gap:60px;
    padding: 40px 0 0;
    padding-inline: 20px;
    @include md{
        padding-inline: 0;
       padding: 80px 0 0;
    gap:0px;
    flex-direction: row;
   }
    .one{
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            font-size: 48px;
            color: #3a3b3c;;
            font-weight:bolder;
        }
        p{
            font-size: 14px;

        }
    }
}