@import "../../css-config/mixins.scss";

.below__container{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: grey;
    @include md{
        font-size: 14px;
    }
    // background-color: rgb(222, 220, 220);
}