@import "../../../css-config/mixins.scss";

.card__section {
  display: flex;
  
  
  max-width: 1200px;
  margin: 0 auto;
    margin-top: 30px;
  gap: 30px;
  flex-direction: column;
  @include md{
    margin-top: 0px;
      flex-direction: row;
    //   height: 700px;

  }
//   gap: ;
    // justify-content: space-between;
    // flex-wrap: wrap;
    justify-content: space-evenly;
    
    
  .card__container {
    
    display: flex;
    // height: 300px;
    padding: 16px;
    margin: 0 auto;
    width: calc(100% - 30px);
    @include md{
       width: 23%;
   }
   
    flex-direction: row;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
       
    
    .card__item {
        
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      width: fit-content;
      
      @include md {
      }
      .icon {
        font-size: 16px;
        color: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        
        background-color: #3a3b3c;
        display: flex;
        justify-content: center;
        align-items: center;
        @include md{
            width: 50px;
            height: 50px;
            font-size: 24px;
        }
      }
      .heading {
        font-size: 16px;
          font-weight: bold;
          @include md{
              
              font-size: 24px;
        }
      }
      .about{
          font-size: 14px;
        @include md{
            font-size: 16px;
        }
      }
    }
  }
}
